* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #545454;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}

.cont {
  background: #ffc324;
  margin: 50px;
  padding: 50px;
  border-radius: 25px;
}

.title {
  font-size:50px;
  font-weight:bold;
  text-align: center;
}

.title span {
  color: #F2EBD3;
}

.mode{
  display: flex;
  flex-direction: column;
}

.status-action {
  display: flex;
  margin-top: 20px;
  font-size: 20px;
  color: #422057FF;
  justify-content: center;

}

.status span {
  color: #F2EBD3;
}

.del{
  display:none;
}

.but{
  color:#484848;
  background:#ffc324;
  margin:0px 30px;
  display: inline-block;
  font-size:20px;
  border:none;
}

.butm{
  color:#484848;
  background:#ffc324;
  margin:0px 35px;
  display: inline-block;
  font-size:25px;
  border:none;
}

.but2:hover{
  cursor:pointer;
  color:white;
}

.but1{
  border-bottom:2px solid grey;
}

.buth:hover {
  cursor:pointer;
}

.game-grid {
  background: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 50px;
}

.game-cell {
  background: #ffc324;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 200px;
  width: 200px;
}

.X,
.O {
  cursor: default;
}

.X::after {
  content: '×';
  font-size: 200px;
}

.O::after {
  content: '○';
  color: #F2EBD3;
  font-size: 225px;
  font-weight:bold;
}

.won::after {
  color: #BD022F;
}

@media only screen and (max-width: 1024px) {
  .game-grid {
    margin-top: 25px;
    grid-gap: 10px;
  }

  .game-cell {
    height: 150px;
    width: 150px;
  }

  .X::after {
    font-size: 150px;
  }

  .O::after {
    font-size: 175px;
  }
}

@media only screen and (max-width: 540px) {
  .cont {
    margin: 25px;
    padding: 25px;
  }

  .game-cell {
    height: 100px;
    width: 100px;
  }

  .X::after {
    font-size: 100px;
  }

  .O::after {
    font-size: 125px;
  }
}